{% extends 'errors/layout.twig' %}

{% block title %}Error 404 - Not Found{% endblock %}

{% block content %}
	<h1>Not Found</h1>
	<p>The requested URL {{ url }} was not found on this server.</p>
{% endblock %}